body {
    font-family: 'agfa_rotis_sans_serifregular';
}

.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 16pt;
}
.navbar .navbar-nav .nav-link:hover{
    color: #000;
}

.nav-item {

    margin-right: 15px;
    font-weight: bold; 

}

.nav-item:hover {
    background-color: #c73834;

}

thead {
    font-size: 18px;
    background-color: #404040;
    color: #FFF;
    border-bottom: #c73834 solid 5px; 
}

@font-face {
    font-family: 'agfa_rotis_sans_serifregular';
    src: url('at646_-webfont.woff2') format('woff2'),
         url('at646_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: bold;

}

text.inside {
    font-size: 25px;
    font-weight: bold;
    fill: white;
}


